.cproject
as
Debug/
.project
Release/
.settings/
core
build
Makefile
nbproject/
.dep.inc
db

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
